# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs.
# For more details, see https://editorconfig.org/

# This is the top-most .editorconfig file
root = true

# Universal settings for all file types
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
indent_style = space
indent_size = 4
max_line_length = 120

ij_continuation_indent_size = 8

# Disable "import on demand" (star imports) to align with Checkstyle.
# The high number effectively means "never use star imports".
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999

ij_java_blank_lines_after_class_header = 1

ij_java_align_multiline_records = false
ij_java_align_multiline_parameters = false

ij_java_keep_simple_classes_in_one_line = true
ij_java_doc_align_param_comments = false

[*.gradle]
indent_style = space
indent_size = 4

ij_groovy_continuation_indent_size = 8

[*.{xml,properties,md}]
indent_style = space
indent_size = 4